@page "/counter"
<PageTitle>Control de Metas</PageTitle>
<div class="bd-callout bd-callout-info">
<strong>Control de Metas</strong>
</div>

<div class="container-fluid">
<div class="row">
    <dir class="col-3">
        <button type="button" class="btn btn-primary">Nueva Meta</button>
    </dir>
    <dir class="col-9">
        test 2
    </dir>
</div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
