@page "/goals"
@* @inject TodoClient.Services.ApiService ApiService *@
@using TodoApi.Models

<h3>Goals</h3>

<button >Fetch Goals</button>

@* @if (goals != null)
{
    <ul>
        @foreach (var goal in goals)
        {
            <li>1</li>
        }
    </ul>
}

@code {
    private List<Goal> goals;

} *@
